<template>
  <div class="about">
    <h1>This is an about page</h1>
    <b-notification
            type="is-info"
            has-icon
            aria-close-label="Close notification">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id fermentum quam. Proin sagittis, nibh id hendrerit imperdiet, elit sapien laoreet elit
    </b-notification>
  </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: 'About',
        mounted() {
            axios.post('http://frontend.dev.local/api/login').then(() => {
                // The subscriber subscribes to updates for the https://example.com/users/dunglas topic
                // and to any topic matching https://example.com/books/{id}
                const url = new URL('http://frontend.dev.local/.well-known/mercure');
                url.searchParams.append('topic', 'http://frontend.dev.local/test.json');
                // The URL class is a convenient way to generate URLs such as https://example.com/.well-known/mercure?topic=https://example.com/books/{id}&topic=https://example.com/users/dunglas

                const eventSource = new EventSource(url, {withCredentials: true});

                // The callback will be called every time an update is published
                eventSource.onmessage = e => console.log(e);
            });
        }
    }
</script>